body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#background {
    position:absolute;
    z-index: -10;
    filter: blur(20px);
    object-fit:cover;
    height: 100vh;
    width: 100vw;
}

#container {
    user-select: none;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: azure;
}

.popout {
    position:absolute;
    left:-250px;
    top:0px;
    height:100vh;
    width:250px;
    transition: left 0.5s ease-in-out;
}

#proj {
    position:absolute;
    font-size: 35px;
    top: 20px;
    left: 260px;
    color: azure;
    transition: left 0.5s ease-in-out;
}

#proj::before {
    content: '';
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    width: calc(100% + 10px);
    height: 10px;
    background-color: rgba(250, 235, 215, 0.356);
}

.project p {
  font-size: 17px;
  text-align:center;
}



.popout-nav {
    background-color: rgba(250, 235, 215, 0.356);
    position:absolute;
    width: 250px;
    height: 100vh;    
}

#proj:hover #proj-popout {
    left: 0px;
}

.popout:hover {
    left: 0px;
}

h1 {
    color: transparent;
    -webkit-text-stroke: azure 2px;
    font-size: 100px;
    margin: 15px;
}

h1::before {
    position: absolute;
    content: 'Louis A Copeland';
    -webkit-text-stroke: azure 4px;
    font-size: 100px;
    filter: blur(8px);
}
p {
    font-size: 40px;
    margin: 15px;
    
}
#info {
    position:absolute;
    font-size: 35px;
    top: 80px;
    left: 260px;
    color: azure;
    transition: left 0.5s ease-in-out;
}

#info::before {
    content: '';
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    width: calc(100% + 10px);
    height: 10px;
    background-color: rgba(250, 235, 215, 0.356);
}

#information {
    text-align: center;
}

#info:hover #info-popout {
    left: 0px;
}

#proj-popout:has(#proj:hover) ~ #info-popout {
    left: -400px;
}

#proj-popout:hover ~ #info-popout{
    left: -400px;
}

body:has(#info-popout:hover) > #proj-popout {
    left: -450px;
}

body:has(#info-popout #info:hover) > #proj-popout { 
    left: -450px;
}

#Information img {
   margin-top: 25px;
}

.project img {
    margin-top: 25px;
    margin-left: 25px;
}

#statement {
    font-size: 17px;
    
}