body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url('./background.png');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    height: 100vh;
    width: 100vw;
    text-align: center;
}